body{
    display: flex;
    flex-direction:
    column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    overflow-x:hidden;
    background-color: #020307 !important;
    background-image: url('../img/background-benefits.png?v=1.0') ;
  }
  ::-webkit-scrollbar {
  width: 0;
}
  .menu__box {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 7%;
  }
  .benefits{
    display: contents;
  }
  .benefits h1 {
    color: #ffffff;
    margin-left: auto;
    border-bottom: 4px solid #ff0000;
    margin-right: auto;
}
.benefits p {
  color: #ffffff;
  margin-top: 1%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
}
  .site-logo img {
    height: 62px;
    width: 75px;
    margin-right: 503px;
    margin-top: 10px;
  }
  #menu__toggle {
    opacity: 0;
  }
  .product h4 {
    color: #ffffff;
    text-decoration: none;
    white-space: pre;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 16px;
    padding-right: 70px;
  }
  .organization h4 {
    text-decoration: none;
    color: #ffffff;
    white-space: pre;
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-right: 70px;
  }
  .home h4{
    text-decoration: none;
    color: #ffffff;
    margin-top: 16px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-right: 70px;
  }
  .foot {
    width: 100%;
    height: 70px;
    display: flex;
    position: static;
    margin-top: 28%;
    bottom: 0px;
    left: 0px;
  }
  .foot h4 {
    color: #e1e1e1;
    font-family: 'BreezeSans';
    font-size: 110%;
    margin-top: 24px;
    margin-left: -1%;
  }
  .icon_telegram {
    width: 48px;
    margin-left: 2517%;
    margin-top: 12px;
  }
  .icon_youtube {
    width: 44px;
    margin-left: 2781%;
    margin-top: 14px;
  }
  .dopk > div > a {
      display: flex;
      justify-content: center;
  }
  .menu__box > div {
      background: none;
  }
  .menu__box > div > a > h4 {
      font-weight: normal;
  }
  .menu__box > div:hover a > h4 {
      font-weight: 500;
  }
  .hamburger-menu.sticky {
    position: sticky;
    top: 0px;
    left: 0px;
    background: #010103;
    display: flex;
    align-items: center;
  }
  @media only screen and (max-width: 600px) {
    .site-logo img {
        height: 0;
        width: 0;
        margin-right: 503px;
        margin-top: 10px;
    }
    body {
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-left: 2%;
        background-size: cover;
        overflow-x: hidden;
        background-position: -310px 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        left: 326px;
        margin-top: -6px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .benefits h1 {
        color: #ffffff;
        margin-left: auto;
        font-size: xx-large;
        border-bottom: 4px solid #ff0000;
        margin-right: auto;
        margin-top: 12%;
    }
.menu__box {
    display: block;
    text-align: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 80px 0;
    background-color: #060606;
    box-shadow: 0 0 20px 7px rgb(0 0 0 / 91%);
    transition-duration: .25s;
}
      .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
      transition-duration: .25s;
      }
      #menu__toggle {
      opacity: 0;
      }
      #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
      }
      .menu__btn > span::before {
      content: '';
      top: -8px;
      }
      .menu__btn > span::after {
      content: '';
      top: 8px;
      }
.home h4 {
    text-decoration: none;
    color: #ffffff;
    margin-left: 19%;
    margin-top: -33px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}
.organization h4 {
    text-decoration: none;
    color: #ffffff;
    white-space: pre;
    margin-left: 19%;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}
.product h4 {
    color: #ffffff;
    text-decoration: none;
    margin-left: 19%;
    white-space: pre;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}
    .benefits p {
      color: #ffffff;
      margin-top: 1%;
      padding-left: 3%;
      padding-right: 3%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: x-large;
  }
    .foot h4 {
        color: #e1e1e1;
        font-family: 'BreezeSans';
        font-size: 100%;
        margin-top: 73px;
        margin-left: -40px;
    }
    .foot {
      width: 102%;
      display: flex;
      background: #0d0d0d;
      height: 111px;
      position: static;
      bottom: 0px;
      margin-top: 125%;
      margin-left: -2%;
  }
    .icon_telegram {
      width: 48px;
      margin-left: 286%;
      margin-top: 12px;
    }
    .icon_youtube {
      width: 44px;
      margin-left: 344%;
      margin-top: 12px;
    }
  }
  @media screen and (max-width: 992px) and (min-width: 601px){
    body {
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      display: flex;
      overflow-x: hidden;
      background-position: -483px 0;
      background-image: url(../img/background-benefits.png?v=1.0);
  }
    .site-logo img {
      height: 62px;
      width: 75px;
      margin-right: 9px;
      margin-top: 11px;
      margin-left: -53%;
  }
  .home h4 {
    text-decoration: none;
    color: #ffffff;
    margin-top: 16px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding-right: 61px;
}
.organization h4 {
  text-decoration: none;
  color: #ffffff;
  white-space: pre;
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  padding-right: 61px;
}
.product h4 {
  color: #ffffff;
  text-decoration: none;
  white-space: pre;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin-top: 16px;
  padding-right: 61px;
}
.menu__box {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 7%;
  margin-top: -1%;
}
.icon_youtube {
  width: 44px;
  margin-left: 0%;
  margin-top: 14px;
}
.icon_telegram {
  width: 49px;
  margin-left: 1400%;
  margin-top: 707px;
}
.foot h4 {
  color: #e1e1e1;
  font-family: 'BreezeSans';
  font-size: 122%;
  margin-top: 714px;
  margin-left: -5%;
}
.icon_youtube {
  width: 44px;
  margin-left: 1586%;
  margin-top: 707px;
}
  }