body{
  display: flex;
  flex-direction:
  column;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  overflow-x:
  hidden;
  background-image: url('../img/background-organizationts.png?v=1.0') ;
}
.site-logo img {
  height: 62px;
  width: 75px;
  margin-right: 503px;
  margin-top: 10px;
}
.about_organization{
  display: flex;
}
.about_organization h1 {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 4px solid #ff0000;
}
.goal{
  display: flex;
  align-items: flex-start;
}
.goal h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: 240%;
  border-bottom: 4px solid #00ff62;
  margin-left: 13%;
}
.goal p {
  margin-top: 99px;
  color: #ffffff;
  margin-left: -6%;
  font-size: large;
}
.biography_employees{
  display: flex;
  align-items: flex-start;
}
.biography_employees h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: xx-large;
  border-bottom: 4px solid #00ff62;
  margin-left: 13%;
}
.biography_employees p {
  margin-top: 99px;
  color: #ffffff;
  margin-left: -26%;
  font-size: large;
}
.comments{
  display: flex;
  align-items: flex-start;
}
.comments h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: xx-large;
  border-bottom: 4px solid #00ff62;
  margin-left: 13%;
}
.comment {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  background-color: #212121;
  height: 110px;
  border-radius: 5px;
  border: 2px solid #1e62c7;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 49%;
  overflow: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}
.comment p {
  margin-top: -26px;
  margin-left: 123px;
}
.comment article {
  margin-top: -73px;
  font-weight: bold;
  margin-left: 19%;
}
.comment img {
  width: 15%;
  margin-top: 5px;
  margin-bottom: auto;
  margin-left: 2%;
}
.comment::-webkit-scrollbar {
  width: 10px;
}
.comment::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient( #e7e7e7, #e7e7e7);
}
.leave h4{
  color: #ffffff;
  margin-left: 13%;
}
#author {
  width: 34%;
  margin-left: 13%;
  display: flex;
  border-radius: 4px;
  border: 7px solid #fff;
}
#message {
  width: 34%;
  margin-top: 1%;
  border-radius: 6px;
  margin-left: 13%;
  border: 7px solid #fff;
}
.text-box {
  margin-left: 23%;
  margin-top: 4vh;
  display: flex;
  margin-bottom: 5%;
}

.btnt{
  text-decoration: none;
  padding: 15px 40px;
  font-weight: 500;
  display: flex;
  border-radius: 100px;
  transition: all .2s;
  border: #fff;
  position: absolute;
}

.btnt:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
}

.btnt:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.btnt-white {
  background-color: #fff;
  color: #777;
}

.btnt::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btnt-white::after {
  background-color: #fff;
}

.btnt:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btnt-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}
#menu__toggle {
  opacity: 0;
}

.dopk {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  margin-bottom: 4%;
}
.preim2 img{
  margin-top: 10px;
  width: 40%;
}
.preim img{
  margin-top: 10px;
  width: 40%;
}
.menu__box {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 7%;
}
.product h4 {
  color: #ffffff;
  text-decoration: none;
  white-space: pre;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 16px;
  padding-right: 70px;
}
.organization h4 {
  text-decoration: none;
  color: #ffffff;
  white-space: pre;
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-right: 70px;
}
.advantages h4{
  text-decoration: none;
  color: #ffffff;
  margin-top: 16px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding-right: 70px;
}
.product {
  background: linear-gradient(180deg, #060606 0%, #050505 0.01%, #333333 54.17%, #050505 100%);
}
.advantages{
  background: linear-gradient(180deg, #060606 0%, #050505 0.01%, #333333 54.17%, #050505 100%);
}
.organization {
  margin-top: 1px;
  background: linear-gradient(180deg, #060606 0%, #050505 0.01%, #333333 54.17%, #050505 100%);
}
.NeuroBeast img{
  width: 35%;
  margin-left: 32%;
  margin-top: 4%;
}
.NeuroBeast p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin-left: 45%;
  margin-top: 2%;
  font-size: 114%;
}
.foot {
  width: 100%;
  height: 70px;
  display: flex;
  position: static;
  bottom: 0px;
  left: 0px;
}
.foot h4 {
  color: #e1e1e1;
  font-family: 'BreezeSans';
  font-size: 110%;
  margin-top: 24px;
  margin-left: -1%;
}
.icon_telegram {
  width: 48px;
  margin-left: 2517%;
  margin-top: 12px;
}
.icon_youtube {
  width: 44px;
  margin-left: 2781%;
  margin-top: 14px;
}
.preim {
    display: flex;justify-content: center;
}
.preim2 {
    display: flex;
    justify-content: center;
}
.dopk > div > a {
    display: flex;
    justify-content: center;
}
.menu__box > div {
    background: none;
}
.menu__box > div > a > h4 {
    font-weight: normal;
}
.menu__box > div:hover a > h4 {
    font-weight: 500;
}
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hamburger-menu.sticky {
  position: sticky;
  top: 0px;
  left: 0px;
  background: #010103;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .header {
    height: 50vh !important;
    display: flex;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
  }
  body{
    display: flex;
    flex-direction:
    column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x:hidden;
    background-position: top;
    background-image: url('../img/background-organizationts.png?v=1.0') ;
  }
  .about_organization h1 {
    color: #ffffff;
    margin-left: auto;
    margin-top: 13%;
    font-size: xx-large;
    margin-right: auto;
    border-bottom: 4px solid #ff0000;
}
.goal h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: 207%;
  border-bottom: 4px solid #00ff62;
  margin-left: 5%;
}
.goal p {
  margin-top: 67px;
  color: #ffffff;
  margin-left: -18%;
  font-size: larger;
}
.biography_employees h1 {
  margin-top: 2%;
  color: #ffffff;
  white-space: nowrap;
  font-size: 158%;
  border-bottom: 4px solid #00ff62;
  margin-left: 5%;
}
.biography_employees p {
  margin-top: 58px;
  color: #ffffff;
  margin-left: -73%;
  font-size: larger;
}
.comments h1 {
  margin-top: 2%;
  color: #ffffff;
  font-size: 207%;
  border-bottom: 4px solid #00ff62;
  margin-left: 5%;
}
.comment img {
  width: 26%;
  margin-top: 11px;
  margin-bottom: auto;
  margin-left: 3%;
}
.comment {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  background-color: #212121;
  height: 110px;
  border-radius: 5px;
  border: 2px solid #1e62c7;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 91%;
  overflow: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}
.comment article {
  margin-top: -64px;
  font-weight: bold;
  margin-left: 32%;
}
.comment p {
  margin-top: -27px;
  margin-left: 104px;
}
.leave h4 {
  color: #ffffff;
  margin-left: 6%;
  margin-top: 5%;
}
#author {
  width: 78%;
  margin-left: auto;
  display: flex;
  margin-right: auto;
  border-radius: 4px;
  border: 7px solid #fff;
}
#message {
  width: 78%;
  margin-top: 1%;
  border-radius: 6px;
  margin-left: 11%;
  margin-right: auto;
  border: 7px solid #fff;
}
.text-box {
  margin-left: 28%;
  margin-top: 2vh;
  display: flex;
  margin-bottom: 17%;
}
  .site-logo img {
    height: 0px;
    width: 0px;
    margin-right: 452px;
    margin-top: 400px;
}
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    left: 312px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .NeuroBeast img {
    width: 67%;
    margin-left: 19%;
    margin-top: 19%;
}
.NeuroBeast p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin-left: 36%;
  margin-top: 3%;
  font-size: 119%;
}
  body{
  display: flex;
  flex-direction:column;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  overflow-x:
  hidden;
}
  .menu__box {
  display: flex;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 80px 0;
  background-color: #060606;
  box-shadow: 0 0 20px 7px rgb(0 0 0 / 91%);
  transition-duration: .25s;
  }
  .hamburger-menu{
  margin-top: -1%;
  }
  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition-duration: .25s;
  }
  #menu__toggle {
  opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  }
  .organization h4 {
    text-decoration: none;
    color: #ffffff;
    white-space: pre;
    margin-left: -378%;
    font-size: 24px;
    margin-top: -10%;
    text-align: center;
  }
  .product h4 {
    color: #ffffff;
    text-decoration: none;
    margin-left: -194%;
    white-space: pre;
    font-size: 24px;
    margin-top: 43px;
}
.advantages h4 {
  text-decoration: none;
  color: #ffffff;
  margin-top: 109px;
  margin-left: -322%;
  font-size: 24px;
}
  .menu__btn > span::before {
  content: '';
  top: -8px;
  }
  .menu__btn > span::after {
  content: '';
  top: 8px;
  }
  .foot h4 {
    color: #e1e1e1;
    font-family: 'BreezeSans';
    font-size: 100%;
    margin-top: 73px;
    margin-left: -40px;
}
.menu__box {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-right: 3em;
}
.foot {
  width: 100%;
  display: flex;
  background: #0d0d0d;
  height: 111px;
  position: static;
  bottom: 0px;
  left: 0px;
}
.icon_telegram {
  width: 48px;
  margin-left: 286%;
  margin-top: 12px;
}
.icon_youtube {
  width: 44px;
  margin-left: 344%;
  margin-top: 12px;
}
.neiro img {
  width: 157%;
  margin-left: -26%;
  visibility: unset !important;
}

.dopk {
  display: flex;
  flex-direction: column;
  padding-top: 1px;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  margin-bottom: 4%;
}
.preim img {
  margin-top: 10px;
  width: 46%;
}
.preim2 img {
  margin-top: 10px;
  width: 46%;
}
.hamburger-menu.sticky {
        margin-top: 18px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 601px){
  .about_organization h1 {
    color: #ffffff;
    margin-left: 59%;
    white-space: nowrap;
    font-size: xxx-large;
    border-bottom: 4px solid #ff0000;
}
body{
  display: flex;
  flex-direction:
  column;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x:hidden;
  background-position: top;
  background-image: url('../img/background-organizationts.png') ;
}
.comments h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: xxx-large;
  border-bottom: 4px solid #00ff62;
  margin-left: 13%;
}
.biography_employees p {
  margin-top: 99px;
  color: #ffffff;
  white-space: nowrap;
  margin-left: -63%;
  font-size: xx-large;
}
.comment {
  color: #fff;
  margin-left: 30%;
  background-color: #212120;
  height: 140px;
  border-radius: 5px;
  border: 2px solid #1e62c7;
  margin-bottom: 1%;
  margin-top: 2%;
  width: 113%;
  overflow: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}
.comment img {
  width: 13%;
  margin-top: 9px;
  margin-bottom: auto;
  margin-left: 3%;
}
.comment article {
  margin-top: -96px;
  font-weight: bold;
  margin-left: 19%;
  font-size: 184%;
}
.leave h4 {
  color: #ffffff;
  margin-left: 13%;
  font-size: xxx-large;
}
#author {
  width: 60%;
  margin-left: 13%;
  display: flex;
  border-radius: 4px;
  border: 12px solid #fff;
}
#message {
  width: 60%;
  margin-top: 1%;
  border-radius: 6px;
  margin-left: 13%;
  border: 8px solid #fff;
}
.text-box {
  margin-left: 32%;
  margin-top: 1vh;
  display: flex;
  margin-bottom: 8%;
}
.icon_youtube {
  width: 75px;
  margin-left: 1460%;
  margin-top: 6px;
}
.icon_telegram {
  width: 83px;
  margin-left: 1300%;
  margin-top: 5px;
}
.comment p {
  margin-top: -34px;
  font-size: x-large;
  margin-left: 172px;
}
.biography_employees h1 {
  margin-top: 3%;
  white-space: nowrap;
  color: #ffffff;
  font-size: xxx-large;
  border-bottom: 4px solid #00ff62;
  margin-left: 13%;
}
.goal p {
  margin-top: 99px;
  color: #ffffff;
  margin-left: -9%;
  font-size: xx-large;
}
.goal h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: 270%;
  border-bottom: 4px solid #00ff62;
  margin-left: 13%;
}
  .NeuroBeast img {
    width: 58%;
    margin-left: 23%;
    margin-top: 5%;
}
.site-logo img {
  height: 75px;
  width: 85px;
  margin-right: 371px;
  margin-top: 10px;
}
.NeuroBeast p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin-left: 643px;
  margin-top: 2%;
  font-size: 186%;
}
.preim2 img {
  margin-top: 10px;
  width: 100%;
  margin-left: 278%;
  height: 90%;
}
.foot h4 {
  color: #e1e1e1;
  font-family: 'BreezeSans';
  font-size: 179%;
  margin-top: 24px;
  margin-left: -1%;
}
.preim img {
  margin-top: 10px;
  width: 100%;
  height: 90%;
}
.icon_telegram {
  width: 74px;
  margin-left: 1629%;
  margin-top: 5px;
}
.icon_youtube {
  width: 70px;
  margin-left: 1766%;
  margin-top: 6px;
}
.dopk {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 23%;
  height: 100%;
  margin-bottom: 4%;
}
.organization h4 {
  text-decoration: none;
  color: #ffffff;
  white-space: pre;
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  padding-right: 70px;
}
.product h4 {
  color: #ffffff;
  text-decoration: none;
  white-space: pre;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  margin-top: 16px;
  padding-right: 70px;
}
.advantages h4 {
  text-decoration: none;
  color: #ffffff;
  margin-top: 16px;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  padding-right: 70px;
}
}