body{
  display: flex;
  flex-direction:
  column;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  overflow-x:
  hidden;
  background-image: url('../img/background-organizationts.png?v=1.0') ;
}
::-webkit-scrollbar {
  width: 0;
}
.site-logo img {
  height: 62px;
  width: 75px;
  margin-right: 503px;
  margin-top: 10px;
}
.about_organization{
  display: flex;
}
.about_organization h1 {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 4px solid #ff0000;
}
.goal{
  display: flex;
  align-items: flex-start;
}
.goal h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: 240%;
  border-bottom: 4px solid #00ff62;
  margin-left: 13%;
}
.goal p {
  margin-top: 7%;
  color: #ffffff;
  margin-left: -76px;
  font-size: large;
}
.biography_employees{
  display: flex;
  align-items: flex-start;
}
.biography_employees h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: xx-large;
  border-bottom: 4px solid #00ff62;
  margin-left: 13%;
}
.biography_employees p {
  margin-top: 7%;
  color: #ffffff;
  margin-left: -348px;
  font-size: large;
}
.comments{
  display: flex;
  align-items: flex-start;
}
.comments h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: xx-large;
  border-bottom: 4px solid #00ff62;
  margin-left: 13%;
}
.leave h4{
  color: #ffffff;
  margin-left: 13%;
}
#author {
  width: 34%;
  margin-left: 13%;
  display: flex;
  border-radius: 4px;
  border: 7px solid #fff;
}
#message {
  width: 34%;
  margin-top: 1%;
  border-radius: 6px;
  margin-left: 13%;
  border: 7px solid #fff;
}
.text-box {
  margin-left: 23%;
  margin-top: 4vh;
  display: flex;
  margin-bottom: 5%;
}

.btnt{
  text-decoration: none;
  padding: 15px 40px;
  font-weight: 500;
  display: flex;
  border-radius: 100px;
  transition: all .2s;
  border: #fff;
  position: absolute;
}

.btnt:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
}

.btnt:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.btnt-white {
  background-color: #fff;
  color: #777;
}

.btnt::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btnt-white::after {
  background-color: #fff;
}

.btnt:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
#menu__toggle {
  opacity: 0;
}
.menu__box {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.product h4 {
  color: #ffffff;
  text-decoration: none;
  white-space: pre;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 16px;
  padding-right: 70px;
}
.organization h4 {
  text-decoration: none;
  color: #ffffff;
  white-space: pre;
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-right: 70px;
}
.advantages h4{
  text-decoration: none;
  color: #ffffff;
  margin-top: 16px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding-right: 70px;
}
.product {
  background: linear-gradient(180deg, #060606 0%, #050505 0.01%, #333333 54.17%, #050505 100%);
}
.advantages{
  background: linear-gradient(180deg, #060606 0%, #050505 0.01%, #333333 54.17%, #050505 100%);
}
.organization {
  margin-top: 1px;
  background: linear-gradient(180deg, #060606 0%, #050505 0.01%, #333333 54.17%, #050505 100%);
}
.foot {
  width: 100%;
  height: 70px;
  display: flex;
  position: static;
  bottom: 0px;
  justify-content: center;
  left: 0px;
}
.foot h4 {
  color: #e1e1e1;
  font-family: 'BreezeSans';
  font-size: 110%;
  margin-top: 24px;
  padding-right: 821px;
}
.icon_telegram {
  width: 42px;
  display: flex;
  margin-top: 15px;
}
.icon_youtube {
  width: 39px;
  margin-top: 16px;
  margin-left: 12px;
}
.menu__box > div {
    background: none;
}
.menu__box > div > a > h4 {
    font-weight: normal;
}
.menu__box > div:hover a > h4 {
    font-weight: 500;
}
@media only screen and (max-width: 600px) {
  body{
    display: flex;
    flex-direction:
    column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x:hidden;
    background-position: top;
    background-image: url('../img/background-organizationts.png?v=1.0') ;
  }
  .about_organization h1 {
    color: #ffffff;
    margin-left: auto;
    margin-top: 13%;
    font-size: xx-large;
    margin-right: auto;
    border-bottom: 4px solid #ff0000;
}
.goal h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: 207%;
  border-bottom: 4px solid #00ff62;
  margin-left: 5%;
}
.goal p {
  margin-top: 67px;
  color: #ffffff;
  margin-left: -18%;
  font-size: larger;
}
.biography_employees h1 {
  margin-top: 2%;
  color: #ffffff;
  white-space: nowrap;
  font-size: 158%;
  border-bottom: 4px solid #00ff62;
  margin-left: 5%;
}
.biography_employees p {
  margin-top: 58px;
  color: #ffffff;
  margin-left: -17rem;
  font-size: larger;
}
.comments h1 {
  margin-top: 2%;
  color: #ffffff;
  font-size: 207%;
  border-bottom: 4px solid #00ff62;
  margin-left: 5%;
}
.leave h4 {
  color: #ffffff;
  margin-left: 6%;
  margin-top: 5%;
}
#author {
  width: 78%;
  margin-left: auto;
  display: flex;
  margin-right: auto;
  border-radius: 4px;
  border: 7px solid #fff;
}
#message {
  width: 78%;
  margin-top: 1%;
  border-radius: 6px;
  margin-left: 11%;
  margin-right: auto;
  border: 7px solid #fff;
}
.text-box {
  margin-left: 28%;
  margin-top: 2vh;
  display: flex;
  margin-bottom: 17%;
}
  .site-logo img {
    height: 0px;
    width: 0px;
    margin-right: 452px;
    margin-top: 400px;
}
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    margin-left: 86%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  body{
  display: flex;
  flex-direction:column;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  overflow-x:
  hidden;
}
.menu__box {
    display: block;
    text-align: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 80px 0;
    background-color: #060606;
    box-shadow: 0 0 20px 7px rgb(0 0 0 / 91%);
    transition-duration: .25s;
}
  .hamburger-menu{
  margin-top: -1%;
  }
  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition-duration: .25s;
  }
  #menu__toggle {
  opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  }
.organization h4 {
    text-decoration: none;
    color: #ffffff;
    white-space: pre;
    margin-left: 21%;
    font-size: 24px;
    margin-top: -105%;
}
.product h4 {
    color: #ffffff;
    text-decoration: none;
    margin-left: 21%;
    white-space: pre;
    font-size: 24px;
}
.advantages h4 {
    text-decoration: none;
    color: #ffffff;
    margin-left: 21%;
    font-size: 24px;
}
  .menu__btn > span::before {
  content: '';
  top: -8px;
  }
  .menu__btn > span::after {
  content: '';
  top: 8px;
  }
  .foot h4 {
    color: #e1e1e1;
    font-family: 'BreezeSans';
    margin-top: 74px;
    padding-right: 0px;
    position: absolute;
    display: flex;
    word-break: break-all;
}

.foot {
  width: 100%;
  display: flex;
  background: #0d0d0d;
  height: 111px;
  position: static;
  bottom: 0px;
  left: 0px;
}
.icon_telegram {
  width: 48px;
}
.icon_youtube {
  width: 42px;
  margin-left: 18%;
  margin-top: 17px;
}
}

@media only screen and (max-width: 992px) and (min-width: 601px){
  .about_organization h1 {
    color: #ffffff;
    white-space: nowrap;
    margin-left: 152%;
    font-size: 600%;
    border-bottom: 8px solid #ff0000;
}
body{
  display: flex;
  flex-direction:
  column;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x:hidden;
  background-position: top;
  background-image: url('../img/background-organizationts.png') ;
}
.comments h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: 510%;
  border-bottom: 8px solid #00ff62;
  margin-left: 28%;
}
.biography_employees p {
  margin-top: 99px;
  color: #ffffff;
  white-space: nowrap;
  margin-left: -63%;
  font-size: xx-large;
}
.leave h4 {
  color: #ffffff;
  margin-left: 33%;
  font-size: xxx-large;
}
#author {
  width: 80%;
  margin-left: 34%;
  display: flex;
  border-radius: 4px;
  border: 12px solid #fff;
}
#message {
  width: 80%;
  margin-top: 2%;
  border-radius: 6px;
  margin-left: 34%;
  border: 8px solid #fff;
}
.text-box {
  margin-left: 61%;
  margin-top: 1vh;
  display: flex;
  margin-bottom: 8%;
}
.biography_employees h1 {
  margin-top: 3%;
  white-space: nowrap;
  color: #ffffff;
  font-size: 535%;
  border-bottom: 8px solid #00ff62;
  margin-left: 28%;
}
.biography_employees p {
  margin-top: 157px;
  color: #ffffff;
  white-space: nowrap;
  margin-left: -113%;
  font-size: xxx-large;
}
.goal p {
  margin-top: 159px;
  color: #ffffff;
  margin-left: -22%;
  font-size: xxx-large;
}
.goal h1 {
  margin-top: 3%;
  color: #ffffff;
  font-size: 588%;
  border-bottom: 8px solid #00ff62;
  margin-left: 28%;
}.menu__box {
display: flex;
align-items: center;
flex-grow: 1;
justify-content: flex-start;
margin-left: 256px;
}
.site-logo img {
  height: 184px;
  width: 210px;
  margin-right: 900px;
  margin-top: 30px;
}
.foot {
  width: 394%;
  height: 70px;
  display: flex;
  position: static;
  margin-top: 100%;
  bottom: 0px;
  justify-content: center;
  left: 0px;
}
.foot h4 {
  color: #e1e1e1;
  font-family: 'BreezeSans';
  font-size: 473%;
  margin-top: 24px;
  padding-right: 1130px;
}
.icon_telegram {
  width: 150px;
  display: flex;
  margin-top: 3px;
}
.icon_youtube {
  width: 127px;
  margin-top: 13px;
  margin-left: 48px;
}
.organization h4 {
  text-decoration: none;
  color: #ffffff;
  white-space: pre;
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  padding-right: 70px;
}
.product h4 {
  color: #ffffff;
  text-decoration: none;
  white-space: pre;
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  margin-top: 16px;
  padding-right: 70px;
}
.advantages h4 {
  text-decoration: none;
  color: #ffffff;
  margin-top: 16px;
  font-size: 65px;
  font-family: 'Roboto', sans-serif;
  padding-right: 70px;
}
}